@font-face {
  font-family: 'Zelda';
  src: url('fonts/HyliaSerifBeta-Regular.otf');
}

@font-face {
  font-family: 'Zelda_Symbol';
  src: url('fonts/HylianSymbols.ttf') format('truetype');
}

@font-face {
  font-family: 'Zelda_Past';
  src: url('fonts/Charlemagne.ttf') format('truetype');
}

html {
  background-image: url("img/zeldaBackground.png");
}

h3 {
  display: flex;
  flex-direction: row;
}

/* Animation de la TriForce avec un .gif pour tester */
.tri_force {
  max-width: 46px;
  max-height: 60px;
  margin: 0.3em;
}

#general {
  display: flex;
  flex-direction: row;
  font-family: 'Zelda', serif;
  font-size: 2em;
}

#commandes {
  max-width: 400px;
  height: auto;
}

#commandes img {
  width: 100%;
  height: auto;
}

#commandes h3 {
  text-decoration: underline;
  text-transform: capitalize;
  margin-top: 0;
  justify-content: center;
}

#commandes h3 span {
  margin: auto;
  font-size: 1.3em;
}

#commandes li span {
  font-family: 'Zelda_Symbol', serif;
  font-size: 1em;
  vertical-align: middle;
  color: #e01a18;
}

#commandes li {
  list-style-type: none;
  font-family: 'Zelda_Past', serif;
}

#commandes small {
  font-style: italic;
  font-family: none;
  font-size: 0.4em;
}

#plateau {
  position: relative;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0.3em;
}

#personnage {
  position: absolute;
  z-index: 90;
  background-image: url("img/zeldaLink.png");
  /* background-image: url("sprites/zeldaLinkMouvements.jpg"; */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: 0px;
  left: 0px;
}

.feuBrasero {
  box-shadow: 5px 5px 5px #404040;
  z-index: 50;
}

.pot {
  z-index: 50;
}
