@font-face {
  font-family: 'Zelda';
  src: url('fonts/HyliaSerifBeta-Regular.otf');
}

@font-face {
  font-family: 'Zelda_Symbol';
  src: url('fonts/HylianSymbols.ttf') format('truetype');
}

html {
  background-image: url("img/zeldaBackground.png");
}

h3 {
  display: flex;
  flex-direction: row;
}

/* Animation de la TriForce avec un .gif pour tester */
.tri_force {
  max-width: 28px;
  max-height: 30px;
  margin: 0.3em;
}

#commandes img {
  width: 50%;
  height: auto;
}

#general {
  display: flex;
  flex-direction: row;
  font-family: 'Zelda', serif;
  font-size: 2em;
}

#commandes h3 {
  text-decoration: underline;
  text-transform: capitalize;
  margin-top: 0;
}

#commandes li span {
  font-family: 'Zelda_Symbol', serif;
  font-size: 1em;
  vertical-align: middle;
  color: #e01a18;
}

#commandes li {
   list-style-type: none;
}
#commandes small {
  font-style: italic;
  font-family: none;
  font-size: 0.3em;
}

#plateau {
  position: relative;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0.3em;
}

#personnage {
  position: absolute;
  z-index: 90;
  background-image: url("sprites/imagesLink.png");
  /* background-image: url("sprites/zeldaLinkMouvements.jpg"; */
  /* background-repeat: no-repeat; */
  /* background-size: 40px 40px; */
  background-position: 0px 40px;
  top: 0px;
  left: 0px;
}

.feuBrasero {
  box-shadow: 5px 5px 5px #404040;
  z-index: 50;
}

.pot {
  z-index: 50;
}
